# converted ts
out

# node/modules install directory
node_modules

.vscode-test/
# installable extension packages
*.vsix
# user app data for npm?
*AppDataRoamingnpm
# exclude input/output files for file workflow
toConvert.conf
converted.as3.json

acc