# converted ts
out

# node/modules install directory
./node_modules/
node_modules

.vscode-test/
# installable extension packages
*.vsix
# user app data for npm?
*AppDataRoamingnpm
# exclude input/output files for file workflow
toConvert.conf
converted.as3.json

acc
f5-as3-config-converter*.tar.gz