.vscode/**
.vscode-test/**
out/tests/**
# ignore new documentation site
docs/**
# ignore source typescript files
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

# ignore github actions
.github/**
# ignore node cpu profiling file
*.cpuprofile

# ignore core ACC tar
f5-as3-config-converter*.tar.gz
*.tar.gz